venv/
*.pyc
*.egg*
*~
*.zip
*.so
examples/movielens/.ipynb_checkpoints/
examples/quickstart/.ipynb_checkpoints/
examples/stackexchange/.ipynb_checkpoints/
build/
dist/
bench/
*#*
*.7z
*.xml
doc/_build/*
lightfm/_lightfm_fast_openmp.pyx
lightfm/_lightfm_fast_no_openmp.pyx
*.*-checkpoint

# Editor specific
.vscode/
.idea/
.devcontainer/