build: false

environment:
  matrix:
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda-x64

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create --name lightfm numpy scipy scikit-learn
  - activate lightfm

  # Install the build dependencies of the project.
  - conda install --yes --file dev-requirements.txt

  # Install lightfm
  - pip install -e .

test_script:
  # Run the project tests
  - py.test tests/ -x
